.Home {
  background: var(--black);
  color: var(--white);
  flex: 1;
  padding: 0 !important;
}

.Home #loading {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home #LoadingError {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
