.ElementContainer {
  display: block;
  max-width: 500px;
  background: #fff;
  margin-bottom: 10px;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: text;
}

.ElementContainer input,
.ElementContainer textarea
{
  border: none;
  width: 100%;
  display: block;
  border-radius: 0;
  outline: none !important;
  font-size: 15px;
  color: #666;
}

.ElementContainer input {
  min-height: 30px;
}

.ElementContainer textarea {
  resize: none;
  min-height: 200px;
}

.ElementContainer label
{
  display: block;
  color: #333;
  user-select: none;
  font-size: 11px;
  color: #333;
  cursor: text;
}