* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #dc1a28;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  --bodyPaddingTop: 40px;
  padding-top: var(--bodyPaddingTop);
}

@media (min-width: 801px) {
  body {
    --bodyPaddingTop: 94px;
    padding-top: var(--bodyPaddingTop);
  }
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
} 

*::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

*::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,.6);
  background-color: #333;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,.2);
  outline: none;
}

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}